In [1]:
# Import library
import pandas as pd
from sqlalchemy import create_engine

Bees Colony Census Data By County

In [2]:
# Store beeColonyCensusDataByCounty CSV into DataFrame
beeColonyCensusDataByCounty_file = "data/beeColonyCensusDataByCounty.csv"
beeColonyCensusDataByCounty_df = pd.read_csv(beeColonyCensusDataByCounty_file)
beeColonyCensusDataByCounty_df

,Year,Period,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%)
0,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,AUTAUGA,1.0,119,27.7
1,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,DALLAS,47.0,65,27.7
2,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,ELMORE,51.0,190,27.7
3,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,GREENE,63.0,14,27.7
4,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,HALE,65.0,10,27.7
...,...,...,...,...,...,...,...,...,...,...
7825,2002,END OF DEC,WYOMING,56,SOUTHEAST,50,GOSHEN,15.0,(D),NaN
7826,2002,END OF DEC,WYOMING,56,SOUTHEAST,50,LARAMIE,21.0,(D),NaN
7827,2002,END OF DEC,WYOMING,56,SOUTHEAST,50,PLATTE,31.0,(D),NaN
7828,2002,END OF DEC,WYOMING,56,WEST,30,LINCOLN,23.0,(D),NaN
7829,2002,END OF DEC,WYOMING,56,WEST,30,UINTA,41.0,(D),NaN

In [3]:
# Create new data for CensusDataByCounty_df w selected columns - Removing 'Period' since all rows have the same value
CensusDataByCounty_df = beeColonyCensusDataByCounty_df[[
    'Year', 'State', 'State ANSI', 'Ag District', 'Ag District Code', 'County', 'County ANSI', 'Value', 'CV (%)']].copy()
CensusDataByCounty_df

,Year,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%)
0,2012,ALABAMA,1,BLACK BELT,40,AUTAUGA,1.0,119,27.7
1,2012,ALABAMA,1,BLACK BELT,40,DALLAS,47.0,65,27.7
2,2012,ALABAMA,1,BLACK BELT,40,ELMORE,51.0,190,27.7
3,2012,ALABAMA,1,BLACK BELT,40,GREENE,63.0,14,27.7
4,2012,ALABAMA,1,BLACK BELT,40,HALE,65.0,10,27.7
...,...,...,...,...,...,...,...,...,...
7825,2002,WYOMING,56,SOUTHEAST,50,GOSHEN,15.0,(D),NaN
7826,2002,WYOMING,56,SOUTHEAST,50,LARAMIE,21.0,(D),NaN
7827,2002,WYOMING,56,SOUTHEAST,50,PLATTE,31.0,(D),NaN
7828,2002,WYOMING,56,WEST,30,LINCOLN,23.0,(D),NaN
7829,2002,WYOMING,56,WEST,30,UINTA,41.0,(D),NaN

In [28]:
# Drop rows with NaN values
CensusDataByCounty_df = beeColonyCensusDataByCounty_df.dropna(how='any')
CensusDataByCounty_df

,Year,Period,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%)
0,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,AUTAUGA,1.0,119,27.7
1,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,DALLAS,47.0,65,27.7
2,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,ELMORE,51.0,190,27.7
3,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,GREENE,63.0,14,27.7
4,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,HALE,65.0,10,27.7
...,...,...,...,...,...,...,...,...,...,...
2756,2012,END OF DEC,WYOMING,56,SOUTHEAST,50,LARAMIE,21.0,158,55.5
2757,2012,END OF DEC,WYOMING,56,SOUTHEAST,50,PLATTE,31.0,(D),(D)
2758,2012,END OF DEC,WYOMING,56,WEST,30,LINCOLN,23.0,(D),(D)
2759,2012,END OF DEC,WYOMING,56,WEST,30,TETON,39.0,(D),(D)
2760,2012,END OF DEC,WYOMING,56,WEST,30,UINTA,41.0,136,55.5

Bees Colony Loss Data

In [12]:
# Store beeColonyLoss xlsx into DataFrame
beeColonyLoss_file = "data/beeColonyLoss.xlsx"
beeColonyLoss_df = pd.read_excel(beeColonyLoss_file)
beeColonyLoss_df
beeColonyLoss_df.columns

Index(['Year', 'Season', 'Â State', 'Â Total Annual Loss', 'Â Beekeepers',
       'Â Beekeepers Exclusive to State', 'Â Colonies',
       'Â Colonies Exclusive to State'],
      dtype='object')

In [7]:
# Create new data for ColonyLoss_df w selected columns - Removing 'Season' since all rows have the same value
ColonyLoss_df = beeColonyLoss_df[
    ['Year', ' State', ' Total Annual Loss', ' Beekeepers', 
     ' Beekeepers Exclusive to State', ' Colonies', ' Colonies Exclusive to State']].copy()

# fhdfhweui!!!!!! It was a direct copy and paste! How could it not be "in index"!!??

# Raname to remove extra spacei in the column heading
# ColonyLoss_renamed_df = ColonyLoss_df.rename(columns={
#     'Year', ' State', 
#     ' Total Annual Loss', 
#     ' Beekeepers', 
#     ' Beekeepers Exclusive to State', 
#     ' Colonies', 
#     ' Colonies Exclusive to State'
# })

KeyError: "[' Colonies Exclusive to State', ' Total Annual Loss', ' State', ' Beekeepers Exclusive to State', ' Beekeepers', ' Colonies'] not in index"

In [ ]:
# Drop rows with NaN values
ColonyLoss_df = beeColonyLoss_df.dropna(how='any')
ColonyLoss_df

Bee Colony Survey Data By State

In [14]:
# Store beeColonySurveyDataByState csv into DataFrame
beeColonySurveyDataByState = "data/beeColonySurveyDataByState.csv"
beeColonySurveyDataByState_df = pd.read_csv(beeColonySurveyDataByState)
beeColonySurveyDataByState_df

,Year,Period,Week Ending,State,State ANSI,Watershed,Data Item,Value,CV (%)
0,2017,JAN THRU MAR,NaN,ALABAMA,1,NaN,ADDED & REPLACED,570,NaN
1,2017,JAN THRU MAR,NaN,ARIZONA,4,NaN,ADDED & REPLACED,"2,900",NaN
2,2017,JAN THRU MAR,NaN,ARKANSAS,5,NaN,ADDED & REPLACED,430,NaN
3,2017,JAN THRU MAR,NaN,CALIFORNIA,6,NaN,ADDED & REPLACED,"215,000",NaN
4,2017,JAN THRU MAR,NaN,COLORADO,8,NaN,ADDED & REPLACED,100,NaN
...,...,...,...,...,...,...,...,...,...
3391,1987,MARKETING YEAR,NaN,VIRGINIA,51,NaN,INVENTORY,"25,000",NaN
3392,1987,MARKETING YEAR,NaN,WASHINGTON,53,NaN,INVENTORY,"75,000",NaN
3393,1987,MARKETING YEAR,NaN,WEST VIRGINIA,54,NaN,INVENTORY,"21,000",NaN
3394,1987,MARKETING YEAR,NaN,WISCONSIN,55,NaN,INVENTORY,"92,000",NaN
3395,1987,MARKETING YEAR,NaN,WYOMING,56,NaN,INVENTORY,"39,000",NaN

In [21]:
# Create new data for SurveyDataByState_df w selected columns - removing 'Week Ending', 'Watershed', 'CV (%)' b/c none of the rows have data
SurveyDataByState_df = beeColonySurveyDataByState_df[[
    'Year', 'Period', 'State', 'State ANSI', 'Data Item', 'Value']].copy()

# Note: There's no NaN values
SurveyDataByState_df = SurveyDataByState_df.dropna(how='any') 
SurveyDataByState_df

,Year,Period,State,State ANSI,Data Item,Value
0,2017,JAN THRU MAR,ALABAMA,1,ADDED & REPLACED,570
1,2017,JAN THRU MAR,ARIZONA,4,ADDED & REPLACED,"2,900"
2,2017,JAN THRU MAR,ARKANSAS,5,ADDED & REPLACED,430
3,2017,JAN THRU MAR,CALIFORNIA,6,ADDED & REPLACED,"215,000"
4,2017,JAN THRU MAR,COLORADO,8,ADDED & REPLACED,100
...,...,...,...,...,...,...
3391,1987,MARKETING YEAR,VIRGINIA,51,INVENTORY,"25,000"
3392,1987,MARKETING YEAR,WASHINGTON,53,INVENTORY,"75,000"
3393,1987,MARKETING YEAR,WEST VIRGINIA,54,INVENTORY,"21,000"
3394,1987,MARKETING YEAR,WISCONSIN,55,INVENTORY,"92,000"
3395,1987,MARKETING YEAR,WYOMING,56,INVENTORY,"39,000"

TEST & Brainstorming section

In [18]:
test = CensusDataByCounty_df.loc[CensusDataByCounty_df['CV (%)'] != '(D)']

In [19]:
beeColonyCensusDataByCounty_df['County'].value_counts()

WASHINGTON        87
FRANKLIN          73
JEFFERSON         70
LINCOLN           67
JACKSON           63
                  ..
WEST FELICIANA     1
PRATT              1
ARTHUR             1
CIMARRON           1
HITCHCOCK          1
Name: County, Length: 1691, dtype: int64

In [20]:
test['County'].value_counts()

WASHINGTON    25
FRANKLIN      21
JEFFERSON     20
JACKSON       20
MADISON       19
              ..
PEORIA         1
BRYAN          1
EDWARDS        1
NATRONA        1
MACKINAC       1
Name: County, Length: 1262, dtype: int64

In [ ]:
# PK uses ANSI