In [1]:
# Import library
import pandas as pd
from sqlalchemy import create_engine

Bees Colony Census Data By County

In [2]:
# Store beeColonyCensusDataByCounty CSV into DataFrame
beeColonyCensusDataByCounty_file = "data/beeColonyCensusDataByCounty.csv"
beeColonyCensusDataByCounty_df = pd.read_csv(beeColonyCensusDataByCounty_file)
beeColonyCensusDataByCounty_df

,Year,Period,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%)
0,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,AUTAUGA,1.0,119,27.7
1,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,DALLAS,47.0,65,27.7
2,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,ELMORE,51.0,190,27.7
3,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,GREENE,63.0,14,27.7
4,2012,END OF DEC,ALABAMA,1,BLACK BELT,40,HALE,65.0,10,27.7
...,...,...,...,...,...,...,...,...,...,...
7825,2002,END OF DEC,WYOMING,56,SOUTHEAST,50,GOSHEN,15.0,(D),NaN
7826,2002,END OF DEC,WYOMING,56,SOUTHEAST,50,LARAMIE,21.0,(D),NaN
7827,2002,END OF DEC,WYOMING,56,SOUTHEAST,50,PLATTE,31.0,(D),NaN
7828,2002,END OF DEC,WYOMING,56,WEST,30,LINCOLN,23.0,(D),NaN
7829,2002,END OF DEC,WYOMING,56,WEST,30,UINTA,41.0,(D),NaN

In [18]:
# Create new data for CensusDataByCounty_df w selected columns - Removing 'Period' since all rows have the same value
CensusDataByCounty_df = beeColonyCensusDataByCounty_df[[
    'Year', 'State', 'State ANSI', 'Ag District', 'Ag District Code', 'County', 'County ANSI', 'Value', 'CV (%)']].copy()
CensusDataByCounty_df

,Year,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%)
0,2012,ALABAMA,1,BLACK BELT,40,AUTAUGA,1.0,119,27.7
1,2012,ALABAMA,1,BLACK BELT,40,DALLAS,47.0,65,27.7
2,2012,ALABAMA,1,BLACK BELT,40,ELMORE,51.0,190,27.7
3,2012,ALABAMA,1,BLACK BELT,40,GREENE,63.0,14,27.7
4,2012,ALABAMA,1,BLACK BELT,40,HALE,65.0,10,27.7
...,...,...,...,...,...,...,...,...,...
7825,2002,WYOMING,56,SOUTHEAST,50,GOSHEN,15.0,(D),NaN
7826,2002,WYOMING,56,SOUTHEAST,50,LARAMIE,21.0,(D),NaN
7827,2002,WYOMING,56,SOUTHEAST,50,PLATTE,31.0,(D),NaN
7828,2002,WYOMING,56,WEST,30,LINCOLN,23.0,(D),NaN
7829,2002,WYOMING,56,WEST,30,UINTA,41.0,(D),NaN

In [19]:
# Drop rows with NaN values
CensusDataByCounty_df = CensusDataByCounty_df.dropna(how='any')
CensusDataByCounty_df

,Year,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Value,CV (%)
0,2012,ALABAMA,1,BLACK BELT,40,AUTAUGA,1.0,119,27.7
1,2012,ALABAMA,1,BLACK BELT,40,DALLAS,47.0,65,27.7
2,2012,ALABAMA,1,BLACK BELT,40,ELMORE,51.0,190,27.7
3,2012,ALABAMA,1,BLACK BELT,40,GREENE,63.0,14,27.7
4,2012,ALABAMA,1,BLACK BELT,40,HALE,65.0,10,27.7
...,...,...,...,...,...,...,...,...,...
2756,2012,WYOMING,56,SOUTHEAST,50,LARAMIE,21.0,158,55.5
2757,2012,WYOMING,56,SOUTHEAST,50,PLATTE,31.0,(D),(D)
2758,2012,WYOMING,56,WEST,30,LINCOLN,23.0,(D),(D)
2759,2012,WYOMING,56,WEST,30,TETON,39.0,(D),(D)
2760,2012,WYOMING,56,WEST,30,UINTA,41.0,136,55.5

Bees Colony Loss Data

In [41]:
# Store beeColonyLoss xlsx into DataFrame
beeColonyLoss_file = "data/beeColonyLoss.xlsx"
beeColonyLoss_df = pd.read_excel(beeColonyLoss_file, encoding='utf-8')
beeColonyLoss_df

# Export the file to csv to get rid of issues with column names
beeColonyLoss_df.to_csv("data/beeColonyLoss.csv", index=False, header=True)
beeColonyLoss_df.columns
# beeColonyLoss_df.shape

Index(['Year', 'Season', 'Â State', 'Â Total Annual Loss', 'Â Beekeepers',
       'Â Beekeepers Exclusive to State', 'Â Colonies',
       'Â Colonies Exclusive to State'],
      dtype='object')

In [47]:
# Store beeColonyLoss csv into DataFrame
beeColonyLoss_csvfile = "data/beeColonyLoss_manual.csv"
beeColonyLoss_csv_df = pd.read_csv(beeColonyLoss_csvfile)
beeColonyLoss_csv_df.columns
# beeColonyLoss_csv_df

Index(['Year', 'Season', 'Â State', 'Â Total Annual Loss', 'Â Beekeepers',
       'Â Beekeepers Exclusive to State', 'Â Colonies',
       'Â Colonies Exclusive to State', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

In [50]:
beeColonyLoss_csv_df[' State'].count()

KeyError: ' State'

In [49]:
# # Create new data for ColonyLoss_df w selected columns - Removing 'Season' since all rows have the same value
# ColonyLoss_df = beeColonyLoss_csv_df[['Year', 'Season', ' State', ' Total Annual Loss', ' Beekeepers',
#        ' Beekeepers Exclusive to State', ' Colonies',
#        ' Colonies Exclusive to State']].copy()

# ColonyLoss_df = beeColonyLoss_df[['Year', ' State', ' Total Annual Loss', ' Beekeepers', 
#      ' Beekeepers Exclusive to State', ' Colonies', ' Colonies Exclusive to State']]

# fhdfhweui!!!!!! It was a direct copy and paste! How could it not be "in index"!!??

# Raname to remove extra spacei in the column heading
ColonyLoss_renamed_df = beeColonyLoss_csv_df.rename(columns={
    'Year': 'YearXYZ', 
    ' State': 'StateABC', 
#     ' Total Annual Loss': 'Total' 
# #     ' Beekeepers', 
#     ' Beekeepers Exclusive to State', 
#     ' Colonies', 
#     ' Colonies Exclusive to State'
})
ColonyLoss_renamed_df

,YearXYZ,Season,State,Total Annual Loss,Beekeepers,Beekeepers Exclusive to State,Colonies,Colonies Exclusive to State,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,2016/17,Annual,Massachusetts,15.90%,87,94.30%,27186,2.30%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016/17,Annual,Montana,17.10%,21,52.40%,35905,0.30%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016/17,Annual,Nevada,23.00%,13,92.30%,2512,5.20%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016/17,Annual,Maine,23.30%,65,93.80%,41102,1.40%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016/17,Annual,Wyoming,23.40%,18,77.80%,6521,1.40%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2010/11,Annual,Puerto Rico,NaN,1,100.00%,12,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,2010/11,Annual,Alaska,NaN,2,50.00%,6,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,2010/11,Annual,District of Columbia,NaN,1,100.00%,4,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,2010/11,Annual,Wyoming,NaN,2,100.00%,3883,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,2010/11,Annual,Nevada,NaN,3,33.30%,3581,0.30%,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Drop rows with NaN values
ColonyLoss_df = beeColonyLoss_df.dropna(how='any')
ColonyLoss_df

Bee Colony Survey Data By State

In [ ]:
# Store beeColonySurveyDataByState csv into DataFrame
beeColonySurveyDataByState = "data/beeColonySurveyDataByState.csv"
beeColonySurveyDataByState_df = pd.read_csv(beeColonySurveyDataByState)
beeColonySurveyDataByState_df

In [ ]:
# Create new data for SurveyDataByState_df w selected columns - removing 'Week Ending', 'Watershed', 'CV (%)' b/c none of the rows have data
SurveyDataByState_df = beeColonySurveyDataByState_df[[
    'Year', 'Period', 'State', 'State ANSI', 'Data Item', 'Value']].copy()

# Note: There's no NaN values
SurveyDataByState_df = SurveyDataByState_df.dropna(how='any') 
SurveyDataByState_df

TEST & Brainstorming section

In [ ]:
test = CensusDataByCounty_df.loc[CensusDataByCounty_df['CV (%)'] != '(D)']

In [ ]:
beeColonyCensusDataByCounty_df['County'].value_counts()

In [ ]:
test['County'].value_counts()

In [ ]:
# PK uses ANSI